.showAni {
    opacity: 1 !important;
}

body {
    overflow-x: hidden !important;
}

.video-container-v1 {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 2560px !important;
    flex-wrap: wrap !important;
    position: static!important;
}

.video-container-v1 .left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    z-index: 0 !important;
}

.bpx-player-container {
    box-shadow: 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
}

#playerWrap {
    order: -1;
    background-color: black;
    height: calc(100vh - 108px - 64px) !important;
    min-height: 480px !important;
    z-index: 99 !important;
    display: flex !important;
    justify-content: center !important;
    box-shadow: 3px 2px 10px 0px rgba(0,0,0,.5);
}

#playerWrap #bilibili-player:not([class="mode-webscreen"])  {
    width: 100% !important;
    height: 100% !important;
    max-width: 2450px !important;
}

#bilibili-player-placeholder {
    display: none !important;
}

#bilibili-player-placeholder-bottom {
    display: none !important;
}

#bottomDiv {
    min-width: 1130px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}