body {
    overflow-x: hidden !important;
}

.video-container-v1 .left-container {
    display: grid;
    position: absolute !important;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    z-index: 0 !important;
}

.bpx-player-container {
    box-shadow: 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
}

#playerWrap {
    order: -1;
    background-color: black;
    height: calc(100vh - 108px - 64px) !important;
    min-height: 480px !important;
    z-index: 99 !important;
}

#bilibili-player {
    width: 100% !important;
    height: 100% !important;
}

#bilibili-player-placeholder {
    width: 150% !important;
    left: -20px !important;
}

#bilibili-player-placeholder-bottom {
    display: none !important;
}

#bottomDiv {
    display: flex;
    justify-content: center;
}