.video-container-v1 .right-container {
    padding-left: 60px !important;
    margin-left: 0 !important;
    opacity: 0;
    transition: opacity 1.5s;
}

.up-info--left .up-avatar-wrap {
    width: 70px!important;
    height: 70px!important;
}

.up-info--left .bili-avatar {
    width: 100% !important;
    height: 100% !important;
}


/*去广告*/
.video-card-ad-small {
    display: none !important;
}

#slide_ad {
    display: none !important;
}