.video-title {
    font-size: 23px !important;
    color: black !important;
    font-weight: bold !important;
}

#leftDiv {
    width: 70vw;
    min-width: 650px;
    max-width: 1550px;
}

#viewbox_report, #arc_toolbar_report, .left-container-under-player {
    opacity: 0;
    transition: opacity 0.5s;
}

.video-ai-assistant {
    z-index: 1 !important;
}

/*去广告*/
.video-container-v1 #bannerAd {
    display: none !important;
}

.reply-header .reply-notice {
    display: none !important;
}